.title {
  font-family: "Bad Script", cursive, sans-serif, serif;
  padding-top: 2%;
  padding-bottom: 1%;
  background-image: url("./picture/title-bg\ picture.jpg");
  background-size: cover;
  background-position: center center;
  font-weight: bold;
}

.searchButton {
  border-radius: 0px 8px 8px 0px;
}

.weatherDashBoard {
  display: none;
  display: block;
  /* border: 2px solid black; */
  margin-left: 8%;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  line-height: 250%;
  font-weight: 400;
  position: relative;
  font-size: larger;
  font-weight: bolder;
}

.dashboard_cityName {
  padding-bottom: 2%;
  font-weight: 500;
}

.dashboard_icon {
  position: absolute;
  top: 2%;
  right: 2%;
}

.fiveDayForecast {
  display: none;
  display: block;
  margin-top: 1%;
  font-weight: bold;
  /* border: 2px solid black; */
}

.fiveDayForecastCard {
  display: inline-block;
  gap: 10px;
  width: 18%;
  height: 65%;
  padding: 1%;
  color: white;
  background-image: url("./picture/title-bg\ picture.jpg");
  border-radius: 5px;
  margin: 1%;
}
